<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visualization@SBU Final Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="root left-root shadow">
    <div class="left-top-block">
      <h5 class="subtitle">Tweets from President Trump</h5>
      <div class="svg-wrap-div" id="tweets-wrap">
        <svg class="svg" id="tweets-svg"></svg>
      </div>
    </div>
    <div class="left-bottom-block">
      <div class="svg-wrap-div" id="related-rates-wrap">
        <svg class="svg" id="related-rates-svg"></svg>
      </div>
      <h5 class="subtitle">Rates Related to Tweets</h5>
    </div>
  </div>
  <div class="root right-root shadow">
    <div class="tweet-detail-block">
      <h5 class="subtitle">Detail of Tweet</h5>
      <div>

      </div>
    </div>
    <div class="more-block">
      <h5 class="subtitle">Chart of Each Dataset</h5>
      <svg class="svg" id="dataset-svg"></svg>
    </div>
    <div class="footer">
      <p><b>Author</b> Kai-Chieh Huang <span class="text-muted">112676186</span>, Hsien-Yi Liu <span class="text-muted">112675266</span></p>
      <p>Copyright © 2020</p>
    </div>
  </div>
  </div>
  <hr id="divider" />
  <!-- <div id="_spinner" class="spinner-grow" role="status" style="display: none;"></div> -->
  <!-- <svg id="chart" ></svg> -->
  <script>
    // First load only
    const host = 'http://localhost:3002';
    let tweetResponse = null;
    let sharedWidth = 0;
  </script>
  <script src="{{ url_for('static', filename='js/chart_for_dataset.js') }}"></script>
  <script src="{{ url_for('static', filename='js/related_rates_plot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tweet_plot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main_script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.min.js') }}" onload="prepare_data()"></script>
</bod>
</html>